:root {
  --light-text: #fff;
  --dark-text: #333;
  --focus-active:  #7943A4;
  --hover: #C283F3;
}

.gallery {
  display: block;
  background-color: #000;
  background-image: url("../img/gallery-bg.jpg");
}

.gallery__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 80px;
  padding-bottom: 72px;
}

.gallery-left,
.gallery-last {
  width: calc(400 / 1600 * 100%);
}

.gallery-last {
  position: relative;
}

.gallery-last__content {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

.gallery-left__title {
  margin-bottom: 15px;
  color: var(--light-text);
}

.gallery-left__filter {
  border: none;
  padding: 0;
  margin: 0;
}

.gallery-left__legend {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 600;
  color: var(--light-text);
}

.gallery-last__text {
  margin-top: auto;
  font-size: 16px;
  line-height: 32px;
  font-weight: 600;
  color: var(--light-text);
}

.gallery-last__link {
  font-weight: 400;
  color: #9D5CD0;
  border-bottom: 1px solid transparent;
  transition-duration: .4s;
  transition-property: border-color, color;
  transition-timing-function: ease-in-out;
}

.gallery-last__link:hover {
  border-color: #9D5CD0;
}

.gallery-last__link:active {
  border-color: var(--focus-active);
  color: var(--focus-active);
}

.gallery-last__link:focus {
  color: var(--light-text);
  border-color: var(--light-text);
  background-color: #9D5CD0;
  outline: 5px solid #9D5CD0;
  outline-offset: 0px;
}

.choices {
  background-color: transparent;
  padding-bottom: 0;
}

.choices:hover {
  background: rgba(255, 255, 255, 0.2);
}

.is-focused {
  background: rgba(255, 255, 255, 0.2);
}

.choices__inner {
  min-height: 0px;
  background-color: transparent;
  padding: 0;
  font-size: 16px;
  line-height: 32px;
  color: var(--light-text);
  border-radius: 6px;
  border: 1px solid var(--light-text);
  z-index: 1;
}

.is-open .choices__inner {
  border-radius: 6px;
}

.choices[data-type*=select-one] .choices__inner {
  padding-bottom: 0px;
}

.choices[data-type*=select-one]:after {
  z-index: 2;
    top: 17px;
    right: 14px;
    height: 8px;
    width: 8px;
    border-top: none;
    border-left: none;
    transform: rotate(45deg);
    border-width: 1px;
    border-color: var(--light-text);
}

.choices[data-type*=select-one].is-open:after {
  transform: rotate(-135deg);
  margin-top: 2.5px;
  border-color: var(--light-text);
}

.choices__list--dropdown {
  border-radius: 6px;
  border: 1px solid #999;
  background-color: transparent;
  z-index: 2;
}

.choices__list {
  font-size: 16px;
  line-height: 32px;
  color: #999;
}

.choices__list--dropdown .choices__item {
  background-color: transparent;
  padding: 5px 0px 2px 20px;
}

.choices__list--dropdown .choices__item:not(:last-child) {
  border-bottom: 1px solid #999;
}

.choices__list--single {
  padding: 1px 16px 4px 15px;
  color: var(--light-text);
}

.choices__list--dropdown .choices__item--selectable:after {
  display: none;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background: rgba(255, 255, 255, 0.2);
  color: var(--light-text);
}

#choices--customSelect-item-choice-1 {
  display: none;
}

.gallery-right {
  padding-bottom: 10px;
  width: calc(1150 / 1600 * 100%);
  margin-right: 0;
}

.gallery-right__navigation {
  display: inline-flex;
  align-items: center;
  margin-top: 22px;
  margin-bottom: 29px;
}

.gallery-right__pagination {
  width: 51px;
  margin-right: 6px;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  color: var(--light-text);
}

.slides-container {
  overflow: hidden;
}

.slides-container__slide {
  position: relative;
  overflow: hidden;
  background-color: #926B88;
}

.slides-container__slide.focus-visible {
  border: 2px solid var(--focus-active);
}

.slides-container__slide:active {
  outline: none;
  border: 2px solid #D1A9F0;
}

.slides-container__slide::before {
  content: "";
  position: relative;
  z-index: 1;
  display: block;
  padding-top: 100%;
  transition: background-color .3s ease, border-color .3s ease;
}

.slides-container__slide::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 25px;
  box-sizing: border-box;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("../img/slider__img_search-icon.svg");
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
  background-clip: content-box;
  transition: opacity .5s ease;
}

.slides-container__slide:hover::after {
  opacity: 1;
}

.slides-container__slide:focus {
  outline: none;
}

.slides-container__slide:focus::before {
  border-color: #7943A4;
}

.slides-container__slide:active::before {
  border-color: #D1A9F0;
  background-color: rgba(194, 131, 243, 0.4);
}

.slides-container__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .gallery {
    background-image: url("../img/gallery-bg__1024.jpg");
  }

  .gallery__container {
    padding-bottom: 72px;
  }

  .gallery-right {
    padding-bottom: 10px;
    width: calc(594 / 924 * 100%);
    margin-right: 0;
  }

  .gallery-left {
    width: calc(280 / 924 * 100%);
  }

  .gallery-last {
    width: calc(280 / 924 * 100%);
  }

  .gallery-last__content {
    bottom: -2px;
  }
}

@media (max-width: 968px) {
  .gallery {
    background-image: url("../img/gallery-bg__768.jpg");
  }

  .slides-container__slide::before {
    padding-top: 89%;
  }

  .gallery__container {
    padding-bottom: 69px;
  }

  .gallery-right {
    width: 100%;
  }

  .gallery-right__swiper {
    margin-bottom: 18px;
  }

  .gallery-left {
    width: calc(280 / 668 * 100%);
    margin-bottom: 2px;
  }

  .gallery-left__filter {
    margin-bottom: 28px;
  }

  .gallery-last {
    width: 100%;
  }

  .gallery-last__content {
    position: static;
  }

  .choices__list--dropdown {
    background-color: #000;
  }

  .gallery-right__navigation {
    margin-bottom: 26px;
  }
}

@media (max-width: 480px) {
  .gallery {
    background-image: url("../img/gallery-bg__320.jpg");
  }

  .gallery__container {
    padding-top: 50px;
    padding-bottom: 40px;
  }

  .gallery-left__title {
    margin-bottom: 13px;
  }

  .gallery-left__legend {
    margin-bottom: 5px;
  }

  .gallery-left {
    width: 100%;
    margin-bottom: 16px;
  }

  .gallery-left__filter {
    margin-bottom: 26px;
  }

  .gallery-right__swiper {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 9px;
  }

  .slides-container__slide::before {
    padding-top: 126%;
  }

  .gallery-right__navigation {
    justify-content: center;
    margin-top: 19px;
    margin-bottom: 0;
  }

}

